body {
  padding: 150px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 25px;
  border: 1px solid black;
  float: left;
}

.box-1 {
  background-color: aquamarine;
  border-color: #34eb6e;
  color: #e234eb;
}

.box-2 {
  background-color: brown;
  border-color: #d3d3d3;
  color: #ffffff;
}

.box-3 {
  background-color: bisque;
  border-color: #0000ff;
  color: #ff0000;
}