html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* --global stuff -- */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #707070;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header-top {
  margin: 25px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.header-controls {
	width: 140px;
	display: flex;
	justify-content: space-between;
}

.cart {
	float: right;
	display: inline-block;
}

.cart .fa-shopping-cart {
	font-size: 33px;
	position: relative;
	top: 5px;
}

.cart .cart-count {
	float: right;
	position: absolute;
	top: 20px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	background-color: #FF6B6B;
	padding: 3px 6px;
	border-radius: 11px;
	text-align: center;
}