html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* --global stuff -- */

/* -- header-top start -- */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #707070;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header-top {
  margin: 25px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.phone-contacts p {
	float: right;
}

.phone-contacts .fa-phone-alt {
	color: #FF6B6B;
	font-size: 29px;
	position: relative;
}

.phone-contacts .fa-comment {
	color: #FF6B6B;
	font-size: 24px;
	position: relative;
	top: -15px;
	left: -16px;
	display: inline-block;
}

.header-controls {
	width: 120px;
	display: flex;
	justify-content: space-between;
}

.header-controls .fa-chevron-down {
	position: relative;
	top: -14px ;
	font-size: 20px;
}

.cart {
	display: inline-block;
}

.cart .fa-shopping-cart {
	font-size: 30px;
	position: relative;
	top: 5px;
}

.cart .cart-count {
	position: absolute;
	top: 20px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	background-color: #FF6B6B;
	padding: 3px 6px;
	border-radius: 11px;
	margin-left: -10px;
	text-align: center;
}

/* -- header-top end -- */

/* -- header-bottom start -- */

.header-bottom {
	text-align: center;
}

.header-bottom .nav-main ul li {
	display: inline-block;
}

.header-bottom .nav-main li a {
	text-decoration: none;
	font-size: 20px;
	color: #707070;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 2px;
	padding: 18px;
	border-radius: 35px;
	transition: background-color 0.2s linear,
		color 0.2s linear ;
}

.header-bottom .nav-main li a:hover {
	background-color: #FF6B6B;
	color: #fff;
}

.nav-main ul .active a {
	text-decoration: underline solid #FF6B6B;
}

.nav-main li .fa-sliders-h {
	color: #FF6B6B;
	padding: 12px;
	transform: rotate(-90deg);
	border: 1px solid #FF6B6B;
	border-radius: 40px;
	font-size: 30px;
	cursor: pointer;
}

.nav-secondary ul li {
	display: inline-block;
}

.nav-secondary li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #707070;
}

.nav-secondary li a:hover {
	color: #FF6B6B;
	font-weight: bold;
}

.nav-secondary ul li {
	padding: 11px 17px;
}

/* --banner-bottom end -- */

/* -- banner-main start -- */

.banner-main {
	background-image: url(../images/banners/leather-glove-hand.jpg);
	background-repeat: no-repeat;
	min-height: 572px;
	background-position: center center;
	background-size: cover;
	background-color: #000;
	margin: 0 0 100px 0;
}

.banner-main .container {
	display: flex;
	justify-content: flex-end;
	min-height: inherit;
	text-align: center;
	align-items: center;
	position: relative;
}

.banner-main .container .banner-position {
	margin: 0 75px;
}

.banner-main .container h1 {
	font-size: 75px;
	font-weight: bold;
	color: #fff;
	margin: 20px;
}

.banner-main .container h2 {
	font-size: 42px;
	color: #fff;
}

.banner-main .container a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #FF6B6B;
	padding: 25px 40px;
	border: 2px solid #FF6B6B;
	border-radius: 35px;
	margin: 40px;
}

.banner-main .container a:hover {
	background-color: #FF6B6B;
	color: #fff;
}

.banner-main .container .banner-info {
	position: absolute;
	bottom: 24px;
	text-align: end;
	padding-right: 75px;
	color: #fff;
}

/* -- banner-main end -- */

/* --header-content start */

.header-content {
	display: block;
	margin: 100px auto 40px auto;
	text-align: center;
}

.header-content h1 {
	font-size: 30px;
	text-transform: uppercase;
	color: #292929;
	margin-bottom: 10px;
}

.header-content h1 span {
	font-weight: bolder;
}

.header-content p {
	font-size: 14px;
}

/* --header-content end-- */

/* --catalogue-preview start -- */

.catalogue-preview {
	display: flex;
	justify-content: space-between;
}

.catalogue-preview .product-tile {
	text-align: center;
}

.product-tile .product-image {
	position: relative;
}

.catalogue-preview .product-tile .product-badge {
	position: absolute;
	right: 20px;
	top: 20px;
	background-color: #FF6B6B;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 61px;
	height: 61px;
	border-radius: 55px;
}

.catalogue-preview .product-tile .product-badge-signed  {
	background-color: #2F4766;
} 

.product-info {
	margin: 28px 0 14px 0;
}

.product-info a {
	text-decoration: none;
	color: #707070;
	font-size: 24px ;
}

.product-link .product-info-black {
	color: #000;
	font-weight: bolder;
}

.product-info .product-info-light {
	font-weight: lighter;
}

h2 > .product-link {
	font-size: 18px;
	display: inline-block;
	margin: 10px auto 0 auto;
}

.product-tile .product-pricing .product-price-regular {
	display: block;
	text-decoration: line-through;
	font-size: 18px;
}

.product-tile .product-pricing .product-price {
	display: block;
	font-size: 24px;
	margin: 10px auto;
}

.product-tile .product-pricing .product-price-actual {
	color: #FF6B6B;
	font-weight: bolder;
}

.product-tile .product-actions .button-a2c {
	border: 1px solid #FF6B6B;
	background-color: #FF6B6B;
	padding: 13px 35px;
	border-radius: 35px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

/* -- catalogue-preview end -- */

/* --newsletter-subscription start -- */

.user-subscription {
	background-color: #383838;
	min-height: 236px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 100px auto 0 auto;
}

.user-subscription .subscription {
	align-items: center;
	padding: 0 0 0 60px;
}

.user-subscription .subscription .subscribe {
	color: #fff;
	text-transform: uppercase;
	font-size: 19px;
}

.user-subscription .subscription .newsletter {
	font-size: 55px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #fff;
}

.user-subscription .subscription .subscribe, 
.user-subscription .subscription .newsletter {
	display: block;
	text-align: center;
}

.email input[type="email"]::placeholder {
	color: #fff;
	font-weight: 100;
}

.email input[type="email"] {
	background-color: #383838;
	color: #fff;
	font-size: 19px;
	width: 440px;
	border: none;
	border-bottom: 1px solid #fff;
	padding: 13px;
	margin: 0 100px 40px 0;
}

.user-subscription .email label {
	color: #fff;
	text-transform: uppercase;
	font-size: 19px;
	position: relative;
	left: -40px;
cursor: pointer;
}

.user-subscription button[type="submit"] {
	background-color: #383838;
	border: none;
	margin-right: 45px;
	margin-top: 20px;
	position: relative;
	top: 20px;
	cursor: pointer;
}

/* --newsletter-subscription end -- */

/* --how-to-pay start -- */

.how-to-pay {
	margin: 120px auto 60px auto;
	text-align: center;
	color: #000;
}

.how-to-pay h1 {
	font-size: 41px;
	font-weight: lighter;
	margin-bottom: 40px;
}

.how-to-pay span {
	font-weight: bold;
}

.how-to-pay .payment-logos {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 380px;
}

.how-to-pay .payment-logos li {
	display: inline-block;
	padding: 10px;
}

/* --how-to-pay end-- */

/* -- footer start -- */

.footer .container .footer-top {
	background-image: url(../images/banners/stock_man_touching.jpg);
	min-height: 322px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #aeaeae;
	font-size: 14px;
}

.container .footer-top ul {
	float: left;
}