html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  max-width: 1440px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 985px;
  margin: 0 auto;
}

/* --header start -- */

.header {

  .header-top-badges {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 60px 0;
  }

  .header-top-capital1 {
    text-transform: uppercase;
    display: inline-block;
    padding: 6px 7px;
    background-color: #C0DFD9;
    color: #ffffff;
  }

  .header-top-capital2 {
    text-transform: uppercase;
    display: inline-block;
    background-color: #E6CF8B;
    color: #ffffff;
    padding: 6px;
  }
}

.nav-main {
 
  ul {
    position: relative;
    top: 15px;
  }

  ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 7px;
  }

  ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
  }

  li a.blog {
    color: #C0DFD9;
  }

  li a.blog::after {
    content: "";
    display: block;
     width: 60%;
    padding-top: 3px;
    border-bottom: 2px solid #C0DFD9;
  }
}

/* --header end -- */

/* -- main blog-post-preview-start -- */

.container {

  .blog-post-date {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #B3C2BF;
    text-transform: uppercase;
  }

  .blog-post-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 30px;
    background-color: #fff;
  }

  .blog-post-about {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 25px 0 40px 0;
    color: #C0DFD9;
  }

  .blog-post-about::before {
    content: "";
    display: block;
    width: 80px;
    margin-bottom: 30px;
    border-top: 2px solid #C0DFD9;
  }

  .blog-post-text {

    .blog-text {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 14px;
      display: inline-block;
      width: 410px;
    }

    .blog-continue {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 50px;
    }

    .blog-continue::after {
      content: "";
      display: block;
      width: 105px;
      margin: 18px 0 0 85px ;
      border: 2px solid #F1E3BC;
    }
  }

  .blog-post-item-right, 
  .blog-post-item-left {
    margin-bottom: 110px;
  }

  .blog-text-flex-left {
    hgroup {
      background-color: #fff;
      display: inline-block;
      width: 570px;
      position: relative;
      right: 100px;
      padding-left: 45px;
    }
  }

  .blog-text-flex-right-wider {
    order: -1;
    background-color: #fff;

    hgroup {
      background-color: #fff;
      display: inline-block;
      width: 520px;
      height: 110px;
      background-color: #fff;
      position: absolute;
    }

    .blog-post-text {
      position: relative;
      top: 168px;
    }
  }

  .blog-text-flex-right-lower {
    order: -1;
    background-color: #fff;

    hgroup {
      background-color: #fff;
      display: inline-block;
      margin-top: 35px;
      width: 460px;
      height: 340px;
      position: absolute;
    }

    .blog-post-text {
      position: relative;
      top: 220px;
    }
  }

  .blog-post-item-left {
    display: inline-flex;
  }
  .blog-post-item-right {
    display: inline-flex;
  }

  .blog-text-flex-left {
    .blog-post-text {
      padding-left: 60px;
    }
  }

  .blog-post-item-right {
    .image-position1 {
      position: relative;
      left: 25px;
    }

    .image-position2 {
      position: relative;
      right: 45px;
    }
  }

  .blog-post-text {

    .blog-continue-position {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      margin: 50px 0 0 0;
      text-align: end;
    }

    .blog-continue-position::after {
      content: "";
      display: block;
      width: 105px;
      margin: 18px 0 0 285px;
      border: 2px solid #F1E3BC;
    }
  }
}

/* --main blog-post-preview ends --  */


/* -- footer starts -- */

.footer {

  .footer-top {
    display:flex;
    justify-content: space-between;

    .older-posts {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 19px;
    }

    .older-posts::after {
      content: "";
      display: inline-block;
      padding-bottom: 15px;
      border-bottom: 2px solid #C0DFD9;
      width: 60px;
    }

    .newer-posts {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      margin-top: -12px;
    }

    .newer-posts::before {
      content: "";
      display: inline-block;
      padding-top: 15px;
      border-bottom: 2px solid #C0DFD9;
      width: 60px;
      margin-left: 45px;
    }
  }

  .pages-navigation {

    ul {
      list-style-type: none;
      margin-bottom: 80px;
    }

    li {
      display: inline-block;
      width: 35px;
      height: 35px;
      box-sizing: border-box;
      border: 1px solid #C0DFD9;
      text-align: center;
      padding-top: 7px;
    }

    li a {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: #000;
    }
  }

  .newer-posts p {
    margin-top: 10px;
  }

  .footer-bottom {
    text-transform: uppercase;
    color: #C0DFD9;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;

    p {
      margin: 30px 0 100px 0;
    }
  }

  .footer-bottom::before {
    content: "";
    border-bottom: 1px solid #C0DFD9;
    width: 980px;
    padding-top: 10px;
    display: inline-block;
  }
}
