html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/*
@font-face {
  font-family: 'exoblack';
  src: url('../fonts/exo-black-webfont.woff2') format('woff2'),
       url('../fonts/exo-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'exolight';
  src: url('../fonts/exo-light-webfont.woff2') format('woff2'),
       url('../fonts/exo-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/
body {
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
}

.group::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 85%;
  max-width: 1636px; 
  margin:0 auto;
}

/* -- global -- */

/* -- Header start -- */

.header {
  width: 100%;
  max-width: 1920px;
  background-color: #000;
  font-family: 'Exo';
}

.header-top-contact {
  background-color: #000000;
  color: #fff;
  margin: 1px solid black;
  display: flex;
  justify-content: flex-end;
}

.header-contact, .header-email, .header-login {
  display: inline-block;
  margin-left:80px;
  margin-right: 30px;
}

.header-bottom {
  background-color: #E5E5E5;
  height: 55px;
}

.container.logo-ribbon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.header-name {
  font-size: 32px;
  padding-top: 8px;
} 

.nav-main ul {
  list-style-type: none;
  font-size: 16px;
}

.nav-main ul li  {
  display: inline-block;
  margin-left: 35px;
  font-size: 21px;
  margin-top: 10px ;
}

.nav-main ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color:#707070 ;
}
/* -- Header end -- */

/* -- banner start -- */

.banner-main {
  background-image: url('../images/banners/banner_1.jpg');
  background-position: bottom left;
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.banner-text {
  font-family: 'Nunito Sans';
  font-size: 32px;
  color:#D5D5D5;
  text-align: center;
  padding: 90px 0;
}

div.banner-main-element {
  background-color: #000;
  opacity: 60%;
  border-radius: 10px;
  position: relative;
  height: 450px;
  width: 1090px;
}

.banner-search {
  padding: 10px 90px;
}

.button-search {
  font-family: 'Nunito Sans';
  text-transform: uppercase;
  font-size: 24px;
  display: inline-block;
  padding: 28px ;
  background-color: #46EADA ;
  border: 1px solid #46EADA;
  color: #fff;
  border-radius: 0 15px 15px 0;
  margin:0;
  position: relative;
 left: 700px;
 top: -2px;
}


input[type="text"]:hover {
  display: inline-block;
  position: absolute;
  top: 278px;
  left: 120px;
  height:86px ;
  margin: 0;
  padding: 0;
  width: 667px;
}

input.active  {
  display: inline-block;
  position: absolute;
  top: 278px;
  left: 120px;
  height:86px ;
  margin: 0;
  padding: 0;
  width: 667px;
}

:placeholder-shown {
  position: absolute;
  width: 690px;
  top: 50px;
  display: none;

}

label {
  background-color: white;
  font-family: 'Nunito Sans';
  font-size: 24px;
  padding: 8px 45px;
  margin: 0;
}

label.buy {
  border-top-left-radius: 10px;
  position: absolute;
  top: 230px;
  left: 120px;

}

label.rent {
  position: absolute;
  top: 230px;
  left: 250px;
  background-color: #E5E5E5;

}

label.sell  {
  border-top-right-radius: 10px;
  position: absolute;
  top: 230px;
  left: 390px;
  background-color: #D5D5D5;
}

/* -- banner end -- */

h1.header-text {
  font-family: 'Nunito Sans';
  font-size: 36px ;
  text-transform: uppercase;
  color: #707070;

}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 190px;
  width:1636px;
 margin:0 auto;
 
 
}

ul.header-list {
  list-style-type: none;
}

ul.header-list li {
  display: inline-block;
}

ul.header-list li a {
  color: #707070;
  font-family: 'Nunito Sans';
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 30px;
}

