.my-first-list a {
  display: block;
  padding: 0 15px;
  position: relative;
}

.my-first-list a::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: purple;
  transform: rotate(45deg);
  position: absolute;
  top: 7px;
  left: 3px;
}

.my-first-list a::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 10px;
  transform: skew(0, 30deg);
  position: absolute;
  top: 7px;
  right: 3px;
}

.my-second-list a {
  position: relative;
  padding: 0 10px;
  display: block;
}

.my-second-list a::before {
  content: "";
  display: block;
  width: 4px;
  height: 8px;
  border-radius: 2px/4px;
  background-color: yellow;
  position: absolute;
  top: 5px;
  left: 1px;
  /* transform: skew(0, 25deg); */
}

.my-second-list a::after {
content: "";
display: block;
width: 5px;
height: 5px;
background-color: purple ;
transform: rotate(40deg) skew(0, 15deg);
position: relative;
top: -12px;
left:70px;
}
